<html>

<head>
	<link rel="stylesheet" href="./styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', { 'packages': ['corechart'] });
		var app = angular.module('metmon', []);
		var SB = 'http://localhost:8080/metmon';
		var HTTP;

		app.controller('index', function ($scope, $http) {

			$scope.appName = "metmon";
			HTTP = $http;

			$scope.app = {
				pgs: {},
				visible_pg: [],
				ui: {
					views: {
						showCreateView: false,
						currentMetrics: {}
					}
				},
				null: 0
			};

			$scope.app.timeSpans = [
				{ value: 60000, text: "1 minute" },
				{ value: 300000, text: "5 minutes" },
				{ value: 900000, text: "15 minutes" },
				{ value: 3600000, text: "1 Hour" },
				{ value: 21600000, text: "6 Hour" },
				{ value: 86400000, text: "1 Day" },
				{ value: 172800000, text: "2 Days" },
				{ value: 604800000, text: "1 Week" }
			];

			$scope.app.sizes = [
				{ value: "small_size", text: "Small" },
				{ value: "medium_size", text: "Medium" },
				{ value: "large_size", text: "Large" }
			]

			$scope.app.viewTypes = [
				{ value: "value_type", text: "Value" },
				{ value: "delta_type", text: "Delta" }
			];

			function emptyView(pg, p) {
				return {
					views: [
						{
							name: name,
							vData: {
								keys: [],
								extra: {
									span: 60000,
									type: "delta_type",
									size: "small_size"
								}
							}
						}
					],
					pId: {
						processGrp: pg,
						process: p
					}
				};
			}

			var sizeMap = {
				"small_size": { width: 200, height: 100 },
				"medium_size": { width: 600, height: 300 },
				"large_size": { width: 1000, height: 500 }
			};

			/* initial setup */
			$http.get(`${SB}/meta/processes/procgroups`).then(
				function (resp) {
					if (!resp.data.success)
						return;
					resp.data.item.forEach(pg => {
						$scope.app.pgs[pg] = {};
						$scope.app.visible_pg.push(false);
						fetchProcesses(pg);
					});
					$scope.app.visible_pg[0] = true;
					$scope.app.currentPg = 0;
				}
			);

			function fetchProcesses(pg) {
				$http.get(`${SB}/meta/processes/${pg}/processes`).then(
					function (resp) {
						if (!resp.data.success)
							return;
						resp.data.item.forEach(p => {
							$scope.app.pgs[pg][p] = { views: {}, newView: emptyView(pg, p), showCreateView: false };
							fetchKeys(pg, p);
						});
					}
				)
			}
			function fetchKeys(pg, p) {
				$http.get(`${SB}/meta/metrics/${pg}/${p}`).then(
					function (resp) {
						if (!resp.data.success)
							return;
						var ctxts = {};
						var numToKeyName = {};
						Object.entries(resp.data.item.keys).forEach(function(arr) {
							var ctxt = arr[0].split(":")[0];
							var key = arr[0].split(":")[1];
							if(ctxts[ctxt] == undefined)
								ctxts[ctxt] = {};
							ctxts[ctxt][key] = arr[1];
							numToKeyName[arr[1]] = arr[0];
						});
						$scope.app.pgs[pg][p].keys = ctxts;
						$scope.app.pgs[pg][p].numToKeyName = numToKeyName;
						fetchViews(pg, p);
					}
				)
			}
			function fetchViews(pg, p) {
				$http.get(`${SB}/meta/views/${pg}/${p}`).then(
					function (resp) {
						if (!resp.data.success)
							return;
						var tmp = {};
						if (resp.data.item.length < 1)
							return;
						var viewsObj = resp.data.item[0];
						viewsObj.views.forEach(v => {
							tmp[v.name] = {};
							tmp[v.name]["meta"] = v;
							v.vData.extra.span = +v.vData.extra.span;
							fetchMetrics(pg, p, v);
						});
						$scope.app.pgs[pg][p].views = tmp;
					}
				);
			}
			function fetchMetrics(pg, p, v) {
				var ctime = Date.now();
				var shortKeys = [];
				p = $scope.app.pgs[pg][p];
				v.vData.keys.forEach(k => {
					var ctxt = k.split(":")[0];
					var key = k.split(":")[1];
					shortKeys.push(p.keys[ctxt][key]);
				});
				var req = {
					from: ctime - v.vData.extra.span,
					to: ctime,
					id: {
						process: v.pId.process,
						processGrp: v.pId.processGrp
					},
					keys: shortKeys
				};
				$http.post(`${SB}/metrics`, req).then(
					function (resp) {
						if (!resp.data.success)
							alert("fetchMetrics: " + resp.data.error)
						v["data"] = resp.data.item;
						updateView(v);
					}
				);
			}
			function updateView(v) {
				var pg = v.pId.processGrp;
				var p = v.pId.process;
				var type = v.vData.extra["type"];
				var size = v.vData.extra["size"];
				var vE;
				var vEs = document.getElementsByClassName("viewarea");
				for (let i = 0; i < vEs.length; i++) {
					vE = vEs[i];
					if (att(vE, "procGrp") == pg && att(vE, "proc") == p && att(vE, "view") == v.name)
						break;
				}
				var firstRow = true;
				var tab = [];
				var prevRow = [];
				v.data.forEach(de => {
					var tr = [];
					if (firstRow) {
						firstRow = false;
						tr.push('Time');
						prevRow.push(0);
						de.records.forEach(e => {
							var sKey = $scope.app.pgs[pg][p].numToKeyName[e.key];
							tr.push(sKey)
							prevRow.push(0);
						});
						tab.push(tr);
						tr = [];
					}
					tr.push(new Date(de.ts));
					i = 1;

					var actualRow = [0];
					de.records.forEach(e => {
						switch (type) {
							case "delta_type":
								val = e.value - ((prevRow[i] > e.value) ? 0 : prevRow[i]);
								i++;
								break;
							case "value_type":
								val = e.value;
								break;
						}
						actualRow.push(e.value)
						tr.push(val)
					});
					prevRow = actualRow;
					tab.push(tr)
				});
				var data;
				try {
					data = google.visualization.arrayToDataTable(tab);
				} catch (err) {
					console.log(err);
				}

				var options = {
					title: v.name,
					hAxis: { title: 'Time', titleTextStyle: { color: '#333' } },
					explorer: {
						axis: 'horizontal',
						keepInBounds: true,
						actions: ['dragToZoom', 'rightClickToReset'],
						maxZoomIn: 0.0001
					},
					width: sizeMap[size].width,
					height: sizeMap[size].height,
					legend: { textStyle: { fontSize: 12 } },
					titleTextStyle: { fontSize: 15 },
					tooltip: { textStyle: { 'background-color': 'white' }, showColorCode: true },
					focusTarget: 'category'
				};

				var chart = new google.visualization.LineChart(vE);
				chart.draw(data, options);

			}

			/* pg switcher */
			$scope.showPg = function (i) {
				$scope.app.visible_pg[$scope.app.currentPg] = false;
				$scope.app.visible_pg[i] = true;
				$scope.app.currentPg = i;
			}

			$scope.createView = function (nv) {
				var keys = [];
				for (let [k, v] of Object.entries(nv.keys)) {
					if (v)
						keys.push(k)
				}
				delete nv["keys"]
				nv.views[0].vData.keys = keys
				createViewsInternal(nv);
			}

			$scope.deleteView = function (v) {
				if (confirm(`Delete "${v.name}"?`)) {
					$http.delete(`${SB}/meta/views/${v.pId.processGrp}/${v.pId.process}/${v.name}`).then(function (resp) {
						if (!resp.data.success) {
							alert(`couldn't delete view: ${v}, error: ${resp.data.message}`);
						}
					});
				}
			}

			$scope.refreshView = function (v) {
				fetchMetrics(v.meta);
			}

			$scope.exportViews = function (proc) {
				var viewsObj = { views: [] }
				Object.values(proc).forEach(e => {
					viewsObj.views.push({ vData: e.meta.vData, name: e.meta.name })
				});

				var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(viewsObj));
				var downloadAnchorNode = document.createElement('a');
				downloadAnchorNode.setAttribute("href", dataStr);
				downloadAnchorNode.setAttribute("download", "views.json");
				document.body.appendChild(downloadAnchorNode);
				downloadAnchorNode.click();
				downloadAnchorNode.remove();
			}

			function att(x, a) { return x.getAttribute(a) }
		});

		/* ui stuff */
		function flip(e) {
			if (e.style.display == "none" || e.style.display == "")
				e.style.display = "block";
			else
				e.style.display = "none";
		}

		function createViewsInternal(nv) {
			HTTP.post(`${SB}/meta/views`, nv).then(
				function (resp) {
					if (!resp.data.success) {
						alert("view cannot be created : " + resp.data.error);
					}
				}
			);
		}

		function importViews(event, pg, p) {
			if (typeof window.FileReader !== 'function')
				throw ("The file API isn't supported on this browser.");
			let input = event.target;
			if (!input)
				throw ("The browser does not properly implement the event object");
			if (!input.files)
				throw ("This browser does not support the `files` property of the file input.");
			if (!input.files[0])
				return undefined;
			let file = input.files[0];
			let fr = new FileReader();
			fr.readAsText(file);
			fr.onload = function (evt) {
				viewsObj = JSON.parse(evt.target.result);
				viewsObj["pId"] = { processGrp: pg, process: p };
				createViewsInternal(viewsObj);
			}
			fr.onerror = function (evt) {
				alert("Couldn't read the file : " + evt);
			}
		}

	</script>
</head>

<body ng-app="metmon" ng-controller="index">
	<div class="app-nav-bar">
		<div class="app-title-bar mw">
			<span class="app-title">{{appName}}</span>
		</div>
	</div>

	<div class="pgcontent">
		<div class="pgtab-pane">
			<div ng-repeat="(pgName, pg) in app.pgs" ng-click="showPg($index)" class="pgtab">
				<span class="pgtab-content">{{pgName}}</span>
			</div>
		</div>

		<div ng-repeat="(pg, procs) in app.pgs" class="pgdetail" ng-show="app.visible_pg[$index]">
			<div ng-repeat="(p, proc) in procs" class="pdetail">
				<div class="pname">
					<span>{{p}}</span>
					<button class="create-view-btn" ng-click="proc.showCreateView = !proc.showCreateView">
						Create a view
					</button>
					<div>
						<label for="{{pg + ':' + p + ':views'}}" class="filesbtn">Import view</label>
						<input type="file" id="{{pg + ':' + p + ':views'}}" pg="{{pg}}" proc="{{p}}" value="Import views"
							onchange='importViews(event, this.getAttribute("pg"), this.getAttribute("proc"))' 
							style="visibility: hidden;"/>
					</div>
					<button ng-click="exportViews(proc.views)">Export views</button>
				</div>
				<div class="viewoverlay" ng-show="proc.showCreateView">
					<div class="create-views-pane-parent">
						<h3>Create view for {{pg + '/' + p}}</h3>
						<div class="create-views-pane">
							<div class="view-creation-input-pane">
								<input placeholder="viewname" class="view-name-input" type="text"
									ng-model="proc.newView.views[0].name" />
								<select class="viewSpan" ng-model="proc.newView.views[0].vData.extra.span"
									ng-options="tspan.value as tspan.text for tspan in app.timeSpans">
								</select>
								<select class="viewType" ng-model="proc.newView.views[0].vData.extra.type"
									ng-options="vtype.value as vtype.text for vtype in app.viewTypes">
								</select>
								<select class="viewSize" ng-model="proc.newView.views[0].vData.extra.size"
									ng-options="vsize.value as vsize.text for vsize in app.sizes">
								</select>
								<button class="create-view-submit-btn" ng-click="createView(proc.newView)">Add</button>
							</div>
							<div class="contexts-pane">
								<h4>Available metrics</h4>
								<div ng-repeat="(ctxt, keys) in proc.keys" class="metric-context">
									{{ctxt}}
									<span class="ctxt-expand-btn" onclick="flip(this.nextElementSibling)">+</span>
									<fieldset class="context-keys-pane">
										<div ng-repeat="(keyTxt, keyNum) in keys" class="metric-key">
											<input type="checkbox" value="{{keyNum}}"
												id="{{p + '-' + keyNum}}"
												ng-model="proc.newView.keys[ctxt + ':' + keyTxt]" />
											<label for="{{p + '-' + keyNum}}" class="metric-key">{{keyTxt}}</label>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
					<button class="viewEditorCloseBtn" ng-click="proc.showCreateView = !proc.showCreateView">X</button>
				</div>

				<!--views -->
				<div>
					<div ng-repeat="(v, view) in proc.views" class="view">
						<div class="view-controls">
							<select ng-change="refreshView(view)" ng-model="view.meta.vData.extra.span"
								ng-options="tspan.value as tspan.text for tspan in app.timeSpans">
							</select>
							<button ng-click="deleteView(view.meta)">Delete</button>
						</div>
						<div procGrp="{{pg}}" proc="{{p}}" view="{{v}}" class="viewarea"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>