div {
    float: left;
    clear: both;
}
body {
    margin: 0 !important;
    padding: 0 !important;
}
/* app title */
.app-nav-bar {
    background: darkslategray;
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.app-title-bar {
    padding: 20px;
    display: block;
}

.app-title {
    color: white;
    font-size: large;
}


/* pg tabs */
.pgtab-pane {
    float: left;
    clear: both;
    margin-top: 10px;
}
.pgtab {
    float: left;
    padding: 10px 30px;
    border: solid 1px gray;
    cursor: pointer;
    background-color: purple;
    color: white;
    font-weight: bolder;
    border-top-right-radius: 10px;
}
.pgtab-content {
    
}

/* pgcontents */
.pgcontent {
    float: left;
    clear: both;
    padding: 20px;
}
.pgdetail {
    float: left;
    clear: left;
    width: 100%;
    border-left: solid 1px teal;
    border-top: solid 1px teal;
}
.pdetail {
    display: block;
    padding: 30px;
    clear: both;
    display: block;
    float: left;
}
.pname {
    float: left;
    width: 100%;
    font-weight: bolder;
    font-size: large;
    background-color: steelblue;
    padding: 20px;
}

/* create view pane */
.create-view-btn {
    float: right;
}
.create-views-pane-parent {
    clear: both;
}
.create-views-pane {
    display: block;
    clear: both;
}
.view-creation-input-pane {
    clear: both;
    padding: 10px;
}
.view-name-input {
    
}
.create-view-submit-btn {
    float: right;
}
.contexts-pane {
    clear: both;
    padding: 20px;
}
.context-keys {
    display: none;
}
.metric-context {
    border-bottom: solid 1px gray;
    font-weight: bold;
    padding: 10px;
}
.ctxt-expand-btn {
    float: right;
    cursor: pointer;
}
.context-keys-pane {
    display: none;
}
.metric-key {
    font-weight: normal;
}
.view {
    float: left;
    border: solid 2px lightgray;
    border-radius: 5px;
    padding: 10px;
}
.view-controls {
    clear: both;
    float: left;
}
.viewarea {
    clear: both;
    float: left;
}





.viewoverlay {
    position: fixed; /* Sit on top of the page content */
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: rgba(256,256,256,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.viewEditorCloseBtn {
    float: right;
}